/* src/App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f9;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
/* src/App.css */
.titulo {
  color: #3f3f3f;
  font-size: 2.5rem;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 25px 0 0 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  background-color: #1f8a34;
  color: white;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: #1d792f;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #1b732d;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.ProductItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  transition: 300ms;
}

.ProductItem img {
  max-width: 100%;
  border-radius: 10px;
  justify-self: center;
}

.ProductItem h3 {
  color: #333;
  font-size: 1rem;
  margin: 10px 0;
}

.ProductItem p {
  color: #007bff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.ProductItem:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
